### Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### Node
node_modules
dist
dist-ssr
build
*.local
package-lock.json

### Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

### Translations
*.mo
*.pot

### Backup template
*.bak
*.gho
*.ori
*.orig
*.tmp

### Sass template
.sass-cache/
*.css.map
*.sass.map
*.scss.map
