//**********************************************************
// Variables
//----------------------------------------------------------
//
//**********************************************************

// Application
$header_height:          100px;
$footer_height:          100px;
$main_height:            400px;

// Fonts
$font_family_sans_serif: Futura;

// Components
