
@viewport {
    min-width:   640px;
    max-width:   800px;
    zoom:        1;
    min-zoom:    1;
    max-zoom:    1;
    user-zoom:   fixed;
    orientation: landscape;
}

// Configuration
@import "themes/default/light";
@import "themes/default/dark";
@import "variables";

// Reset
body {
}

// Application
#app {
    background-color: #cccccc;
    align-content:    stretch;
    align-items:      start;
    justify-content:  space-between;
    justify-items:    center;
}

// Container
.app-container {
}

// Main
.app-main {
    background-color: white;

    > .app-container {
        align-content: start;
        min-height:    $main_height;
    }
}

// Header
.app-header {
    background-color: burlywood;
    position: sticky;
    top:      0;

    > .app-container {
        min-height: $header_height;
    }
}

// Footer
.app-footer {
    background-color: #b3d4fc;

    > .app-container {
        min-height: $footer_height;
    }
}
