//**********************************************************
// Main App Styles
//----------------------------------------------------------
//
//**********************************************************

// Configuration
@import "themes/default/light";
@import "themes/default/dark";
@import "variables";

// Reset
body {
    background-color: #b3d4fc;
    margin: 0;
}

// Application
#app {
    background-color: #cccccc;
    align-content:    stretch;
    align-items:      start;
    justify-content:  space-between;
    justify-items:    center;
}

// Container
.app-container {
}

// Main
.app-main {
    background-color: white;

    > .app-container {
        align-content: start;
        min-height:    $main_height;
    }
}

// Header
.app-header {
    background-color: burlywood;
    position: sticky;
    top:      0;

    > .app-container {
        min-height: $header_height;
    }
}

// Footer
.app-footer {
    background-color: #b3d4fc;

    > .app-container {
        min-height: $footer_height;
    }
}
