{% block menu %}
    <menu>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/account">Account</a>
        <a href="/exchange">Exchange</a>
        <a href="/hello">Hello</a>
    </menu>
{% endblock %}