{% block footer %}
<footer id="app-footer" role="contentinfo">
    <section class="app-container">
        <div>&copy; 2024</div>
        {% include "component.menu.tmpl" %}
    </section>
</footer>
{% endblock %}