{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{### Head ###}
{% block head %}
    {{ super() }}
{% endblock %}

{### Body ###}
{% block body %}
    {{ super() }}
    <div id="app" role="application">
        <header id="app-header" role="banner">
            <section class="app-container">
                {% block header %}
                    {% include "component.menu.tmpl" %}
                {% endblock %}
            </section>
        </header>
        <main id="app-main" role="main">
            <section class="app-container">
                {% block main %}{% endblock %}
            </section>
        </main>
        <footer id="app-footer"  role="contentinfo">
            <section class="app-container">
                {% block footer %}
                    <div>&copy; 2024</div>
                    {% include "component.menu.tmpl" %}
                {% endblock %}
            </section>
        </footer>
    </div>
{% endblock body %}