{% extends "base.html" %}

{### Head ###}
{###############################################}
{% block head %}
    {{ super() }}
{% endblock %}

{### Body ###}
{###############################################}
{% block body %}
    {{ super() }}
{% endblock body %}