{% extends "layout.base.tmpl" %}
{% block title %}404{% endblock %}

{### Main ###}
{% block main %}
    {{ super() }}
    <h2>{{ self.title() }}</h2>
    <p>{% block error %}{% endblock %}</p>
{% endblock %}