{% extends "layout.base.tmpl" %}
{% block title %}Home{% endblock %}

{### Head ###}
{% block head %}
    {{ super() }}
{% endblock %}

{### Header ###}
{% block header %}
    {{ super() }}
{% endblock %}

{### Main ###}
{% block main %}
    {{ super() }}
    <h2>{{ self.title() }}</h2>
    <div id="chart"></div>
{% endblock %}

{### Footer ###}
{% block footer %}
    {{ super() }}
{% endblock %}

{### Body ###}
{% block body %}
    {{ super() }}
    {% include "component.chart.tmpl" %}
{% endblock %}