<header id="app-header" role="banner">
    <section class="app-container">
        {% block header %}
            {% include "components/component.menu.tmpl" %}
            <button type="button" class="">Key</button>
        {% endblock %}
    </section>
</header>