<footer id="app-footer" role="contentinfo">
    <section class="app-container">
        {% block footer %}
            <div>&copy; 2024</div>
            {% include "components/component.menu.tmpl" %}
        {% endblock %}
    </section>
</footer>